{% extends 'layout.html' %}

{% block content %}
<div id="wrapper">
	<section id="intro" class="wrapper style1 fullscreen fade-up">
		<div class="inner">
      <h1>The event has successfully been created!</h1>
      <p>Share this link to you attendees so that they can log in!</p>
      <!-- <a href="/event/{{ sluggedName }}">http://localhost:8888/event/{{ sluggedName }}</a> -->
			<input type="text" id="link-to-clipboard" value="/event/{{ sluggedName }}" style="color: black;"></input>
			<ul class="actions" style="margin-top: 20px;">
				<li><a class="button special icon fa-clipboard" data-clipboard-target="#link-to-clipboard">Copy to clipboard!</a></li>
			</ul>
    </div>
  </section>
</div>
<script>
	var content = document.getElementById("link-to-clipboard").value;
	var newContent = window.location.origin + content;
	document.getElementById("link-to-clipboard").value = newContent;
</script>
<script src="/clipboard.min.js"></script>
<script>new Clipboard('.button');</script>
{% endblock %}
