{% extends 'layout.html' %}

{% block content %}
<div id="wrapper">
	<section id="intro" class="wrapper style1 fullscreen fade-up">
		<div class="inner">
			{% if !user %}
			<h1>Welcome to Crowdify!</h1>
			<p>Please log in.</p>
			<ul class="actions">
				<li><a href="/auth/spotify-organizer" class="button scrolly">Login</a></li>
			</ul>
			{% else %}
      <h1>Hello {{ user.displayName || user.username || user.id }}!</h1>
			<p>Profile: <a href=" {{ user.profileUrl }}">{{ user.profileUrl }}</a></p>
      <ul class="actions">
				<li><a href="/createEvent" class="button scrolly">Create event!</a></li>
			</ul>
			{% endif %}
		</div>
	</section>
</div>
{% endblock %}
